<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What tonetag.is/404? ❔</title>
    <meta property="og:site_name" content="What tonetag.is/404?" />
    <meta property="og:title" content="❔ 404 🔍" />
    <meta property="og:description" content="Not Found" />
    <meta property="og:type" content="website" />
    <meta content="606060" name="theme-color" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/tag.css">
</head>
<body>
<script defer src="/js/script.js"></script>
<div class="header">
    <div class="header-content">
        <div class="header-search">
            <p>What tonetag.is/</p>
            <form autocomplete="off"><input type="text" id="searchbox" placeholder="tag" size="3" onkeyup="showResults(this.value)">
                <div id="result"></div>
            </form>
            <p>?</p>
        </div>
        <a href="/" class="header-index">
            <p>Index</p>
        </a>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-header" style="background: #606060">
            <p>❔ <b>404</b> 🔍</p>
            <p><b>Not Found</b></p>
        </div>
        <div class="card-body">
            <img src="http://http.cat/404/" alt="404 Not Found" height="80%">
        </div>
    </div>
</div>
<div class="footer">
    <a href="https://github.com/tonetag"><img src="/github-mark.svg" class="github-mark"></a>
</div>
</body>
</html>
