<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What </title>
    <title>What tonetag.is? - Index</title>
    <meta property="og:site_name" content="What tonetag.is?" />
    <meta property="og:title" content="Index 🗂️" />
    <meta property="og:description" content="Index of tone tags/indicators" />
    <meta property="og:type" content="website" />
    <meta content="#ffaaff" name="theme-color" />

</head>
<body>
    <h1>Indicators</h1>
    <ul>
        {#for indicator in indicators}
        <li>
            <a href="/{indicator.tag}">{indicator.tag} {indicator.emoji}</a>
        </li>
        {/for}
    </ul>
</body>
</html>