{@is.tonetag.model.Indicator indicator}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What tonetag.is/{indicator.tag}? {indicator.emoji.0}</title>
    <meta property="og:title" content="What tonetag.is/{indicator.tag}? {indicator.emoji.0}" />
    <meta property="og:description" content="{indicator.description}" />
</head>
<body>
    <h1>{indicator.emoji.0} /{indicator.tag} {indicator.emoji.1}</h1>
    <h2>{indicator.definition}</h2>
    <h3>{indicator.description}</h3>
</body>
</html>